.text-ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  @apply cursor-pointer select-none;
}

/* Transitions */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: all 0.3s ease;
}
.slide-enter {
  transform: translate(100%, 0);
  opacity: 1;
}
.slide-leave-to {
  transform: translate(100%, 0);
  opacity: 0;
}