.supheader-1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 38px;
}

.supheader-2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
}

.header-1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.header-2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
}

.header-3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
}

.title-1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.title-2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.title-3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.title-4 {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.body-1 {
  font-size: 18px;
  line-height: 24px;
}

.body-2 {
  font-size: 16px;
  line-height: 20px;
}

.body-3 {
  font-size: 14px;
  line-height: 18px;
}

.body-4 {
  font-size: 12px;
  line-height: 16px;
}

.fine-prints-1 {
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
}

.fine-prints-2 {
  font-size: 10px;
  line-height: 12px;
}

.small-prints-1 {
  font-size: 8px;
  line-height: 10px;
}

.text-ellipsis {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}